:root {
  --branco: #fff;
  --preto: #000;
  --chumbo: #444;
  --rosa: #f5989d;
  --rosa-claro: #ffc4b2;
   --cinza: #808080;

   --branco-transparente: #ffffffaa;
   --rosa-claro-transparente: #ffc4b2AA;

}
