.carrossel {
  position: relative;

  height: 40rem;
  width: 45rem;

  border-radius: 10px 10px 0 0;

  overflow: hidden; /* não da para ver alem do limite da imagem estabelecido no heigth e width */
}

.carrossel__botao {
  position: absolute;

  width: 2.25rem;
  height: 2.25rem;

  top: 50%;

  transform: translateX(-50%);

  border: none;
  border-radius: 50%;

  background-color: var(--rosa-claro-transparente);
  background-size: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;

  padding: -2rem;

  z-index: 10; /* para garantir que o botao fique afrente das imagem */
}

.carrossel__botao--anterior {
  left: 0;

  margin-left: 3.75rem;

  background-image: url(/assets/img/seta-esquerda.svg);
  background-position: 0.8rem center;
}

.carrossel__botao--proximo {
  right: 0;

  margin-right: 1rem;

  background-image: url(/assets/img/seta-direita.svg);
  background-position: 0.95rem center;
}

.carrossel__lista-produtos {
  position: relative;

  height: 100%;
}

.carrossel__produto {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
}

.carrossel__imagem-container {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.carrossel__imagem {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.carrossel__indicadores {
    position: absolute;
    bottom: 0;

    width: 100%;

    display: flex;
    justify-content: center;
}

.carrossel__indicador {
    width: 2.25rem;
    height: .25rem;

    background-color: var(--branco-transparente);

    border-radius: 2rem;

    border:none;
    margin: .5rem 1rem;
}

.carrossel__indicador--ativo {
    background-color: var(--rosa);
}