.produto {
  display: flex;

  height: calc(
    100vh - 4.25rem
  ); /* calculando a altura do view-port - a altura do cabeçalho*/

  overflow: hidden;
}

.produto__foto {
  width: 40%;
  height: 100%;

  background-image: url(../img/produto-capa.png);
 /* background-attachment: fixed; /* a imagem fica grudada no fundo*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateZ(-1px) translate(-75%, 25%) scale(2.6);

  z-index: -1;
}

.produto__descricao {
  width: 60%;

  padding-top: 3rem;

  box-sizing: border-box;

  color: var(--cinza);

  background-color: var(--branco);
}

.produto__marca {
  text-transform: uppercase; /* deixa o texto sempre maiusculo*/
  font-size: 11.5rem; /* tamanho da fonte */
  font-weight: 800; /* peso da fonte */
  color: var(--rosa); /* cor do texto */
  letter-spacing: 0.5rem; /* espaço entre letras */
  line-height: 9rem; /* altura do preço */
}

.produto__divisao {
  padding-left: 1rem;

  position: relative;
}

.produto__preco {
  font-size: 1.375rem;
  font-weight: 800;
  letter-spacing: 0.125rem;

  margin-bottom: 2.5rem;
}

.produto__nome {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.875rem;

  width: 31.875rem;

  margin-bottom: 0.875rem;
}

.produto__texto {
  width: 31.875rem;

  letter-spacing: 0.125rem;
  line-height: 1.25rem;

  margin-bottom: 1rem;
}

.produto__comprar {
    position: absolute;
    bottom: 0;
    right: 2rem;

    border: none;

    color: var(--branco);
    font-weight: 900;
    letter-spacing: 0.25rem;
    font-family: inherit; /*pega da fonte mãe declarada */
    text-transform: uppercase;

    border-radius: 35px;
    background-color: var(--rosa-claro);

    min-width: 10.75rem; /* tamanho minimo do botão */

    padding: 1.25rem 1rem; 

    box-sizing: border-box;
  
}
